{
    "experimentalTernaries": false,
    "printWidth": 80,
    "tabWidth": 16,
    "useTabs": true,
    "singleQuote": false,
    "semi": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
}

